*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
     background: #020617;
    color: #e2e8f0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgba(2, 6, 23, 0.8);
    backdrop-filter: blur(10px);
    color: #e2e8f0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #e2e8f0;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

.menu-toggle {
    display: none;
    font-size: 25px;
    cursor: pointer;
}

.hero{
    height: 100vh;
    background: radial-gradient(circle at top, #1e3a8a, #020617);
    color:#e2e8f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    letter-spacing: 1px;
}

.hero-content {
    max-width: 500px;
}

.hero span{
    color: #38bdf8;
}

.hero button {
    margin-top: 10px;
    padding: 7px 15px;
    border: none;
    background: linear-gradient(135deg, #38bdf8, #0ea5e9);
    color: #020617;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.5);
}

.hero button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(56, 189, 248, 0.8);
}

.section{
    background: #0f172a;
    color: white;
    padding: 60px 40px;
    width: 100%;
    margin: auto;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.6s;
}

.section.show {
    opacity: 1;
    transform: translateY(0);
}

.section h2{
    text-align: center;
    margin-bottom: 20px;
}

.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card{
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.card:hover {
    transform: translateY(-10px) scale(1.02);
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

input, textarea{
    padding: 10px;
}

button{
    background: #0355a6;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.massage{
    text-align: center;
    margin-top: 10px;
}

footer{
    text-align: center;
    padding: 15px;
    background: #111;
    color: white;
}

html{
    scroll-behavior: smooth;
}

@media (max-width: 768px) {

    nav ul {
        display: none;
        flex-direction: column;
        background: black;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 10px;
    }

    nav ul.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .hero {
        min-height: 100vh;
        justify-content: center;
        padding: 100px 20px;
    }

    .hero h2 {
        font-size: 24px;
    }

    .hero p {
        font-size: 14px;
    }

    .projects-list {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}